*{
    box-sizing: border-box;
    margin: 0;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    position: relative;
}
.conteiner{
    width: 1505px;
height: 866px;

}
.sun{
position: absolute;
top: 0px;
width: 272px;
height: 263px;
top: 100px;
left: 950px;
animation-name: sun;
animation-duration: 25s;
animation-delay: 0,5ms;

}
.mario1{
    width: 119px;
height: 127px;
top: 132px;
left: -70px;
gap: 0px;


}
.sun3{
position: absolute;
top: 0px;
width: 119px;
height: 127px;
top: 130px;
left: 1500px;
padding-top: 665px;
animation-name: mario_man;
animation-duration: 10s;
animation-delay: 0,5ms;
animation: mario_man 10s linear infinite alternate;

}
.sun4{
position: absolute;
top: 0px;
padding-top: 660px;
animation-name: mario_man2;
left: 400px;
animation-duration: 8s;
animation-delay: 1s;
animation: mario_man2 8s linear infinite alternate;

}


@keyframes mario_man {
    from{
        left: 1500px;
    }
    to{
        left: 800px;
    }
}
@keyframes mario_return{
    from{
        left: 800px;
    }
    to{
        left: 1500px;
    }
}
    

    
@keyframes mario_man2 {
    from{
        left: 400px;
    }
    to{
        left: 1500px;
    }
}
@keyframes mario_return{
    from{
        left:1500px ;
    }
    to{
        left:400px ;
    }
}
@keyframes sun {
0%{
    transform: rotate(0deg);
}
100%{
    transform: rotate(360deg);
}
}

.tree{
position: absolute;
top: 0px;
padding-top: 660px;
animation-name: home;
animation-duration: 5s;
animation-delay: 2s;
padding-left: 1400px;
top: -200px;
animation-name: home;
animation-duration: 1s;
animation-delay: 1s;
animation: home 2s linear infinite alternate;
}

@keyframes home {
from{
    left:-1100px;
    }
    to{
        left: 400px;
    }
}

